<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
  </style>
</head>
<body>
  <h1>{{title}}</h1>
  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/members">Members</a>
  </nav>
  <router-outlet></router-outlet>
<!-- <app-members></app-members> is no longer needed as it will be displaying in routing -->
 <!--  <app-messages></app-messages> -->
</body>
</html>


